# -------- Python --------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------- Virtual Environment --------
venv/
.env
.env.*

# -------- Pytest --------
.pytest_cache/

# -------- Reports --------
reports/*.json

# -------- IDE --------
#.vscode/
#.idea/
*.iml

# -------- OS --------
.DS_Store
Thumbs.db
